{% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}{% assign nowunix = nowunix | plus: 0%}
{% capture conftime %}{{ site.data.conference.dates.last | date: '%s'}}{% endcapture %}{% assign conftime = conftime | plus: 0%}
<p>The UK AI Community is pleased to announce the {{ site.data.conference.instance }} {{ site.data.conference.styling }} {{site.data.conference.full_name }}, {% if conftime > nowunix %} which will be held{% else %}, which was held{% endif %} in {{ site.data.conference.location }} 
  from <b>{{ site.data.conference.dates[0] | date: "%A, %-d %B %Y" }} to {{ site.data.conference.dates.last | date: "%A, %-d %B %Y" }}</b> at {% if site.data.conference.venue_url %}<a href="{{ site.data.conference.venue_url }}" target="_blank">{% endif %}{{ site.data.conference.venue }}.
  {% if site.data.conference.venue_url %}</a>{% endif %} We are proud to announce that this year's UK AI Conference will be supported by <a href="https://www.hdruk.ac.uk/" target="_blank">HDR UK</a>, the National Institute for Health Data Research!
</p>
<p>  
  In addition to plenary talks, the conference will also include short talks and poster presentations. We invite the submission of abstracts to be presented as talks or papers at the conference. 
  This event will allow researchers nationwide to share work on all aspects of AI, from theory and development to application and real-world implementation. Topics can cover a broad scope of AI, 
  ranging from Machine Learning theory to Ethics and Trustworthy AI, from Computer Vision to Robotics. We would also like to particularly welcome submissions related to AI Healthcare.
</p>

{% if conftime < nowunix %}<p>This webpage acts as a record of the program and talks given.</p>{% endif %}

