---
layout: page
---
<article>

<p>
  The {{ site.data.conference.instance }} {{ site.data.conference.styling }} {{site.data.conference.full_name }} will be hosted at {{ site.data.conference.venue }}.
</p>

<br>
<br>

<p>
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2403.544679454058!2d-1.1479945!3d52.9566154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487995b817bcb03b%3A0x3d0e43fa0e1fda0e!2sHilton%20Nottingham!5e0!3m2!1sen!2suk!4v1771951077087!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</p>
<p><b>The Hilton Nottingham</b></p>
<p>Milton Street</p>
<p>Nottingham NG1 3PZ</p>
</article>

