---
layout: page
---	  
<article>



<p>
  The {{ site.data.conference.instance }} {{ site.data.conference.styling }} {{site.data.conference.full_name }} will be hosted at {{ site.data.conference.venue }}, 215 Euston Road, NW1 2BE.
</p>

<br>
<br>

<p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2482.3208725001414!2d-0.13766822245403165!3d51.52567430936695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761b25fe44f4b7%3A0x8d0b599119134025!2sWellcome%20Trust!5e0!3m2!1sen!2suk!4v1741359360837!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</p>
</article>

