---
layout: page
---
<article>

  <p>Registration opens 1st June. Please re-visit this page to access the online registration link</p>

  <p></p>

  <p> Registration fees:
    <ul>
      <li>Early Career Researcher: £35</li>
      <li>No Early Career Researcher: £60</li>
    </ul>
  </p>

  <p><strong>Early Career Researcher (ECR)</strong>: For the purposes of registration, an ECR is defined as a current PhD student or a researcher who has received their PhD within the last 7 years (allowing for any career breaks).</p>
</article>


